<div class="top-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
        <div class="d-flex justify-content-center mt-2 mb-2">
          <%= image_tag "profile.jpeg", alt: "Pierre_photo", class: 'avatar-large mx-4'  %>
        </div>
        <div class="language">
          <%= partial 'partials/language-selector' %>
        </div>
        <div class="hero">
          <h1 class="title-main"><span class="name-gradient-left-to-right">Pierre Richemond</span></h1>
          <h5 class="text-center"><span id=<%= t("animate") %>></span><%= t("is_my_thing") %></h4>
        </div>
        <div class="nav-cta">
          <ul>
            <li><a href="#about-me"><span class="nav-link"><%= t("about_h2") %></span></a></li>
            <li><a href="#projects"><span class="nav-link"><%= t("post_lewagon_projects_title") %></span></a></li>
            <li><a href="#tools"><span class="nav-link"><%= t("tools_skills") %></span></a></li>
            <li><a href="#contact"><span class="nav-link">Contacts</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
