 <% data.fr_products.each do |product| %>
  <div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(product.image) %>)">
      <h3 class="white-text mt-2"><%= t("click_for_more") %></h3>
      <div class="description">
        <h5 class="header-card"><%= product.name %></h5>
        <h6 class='subheader-card'><%= product.subname %></h6>
        <p><%= product.description %></p>
        <div class="d-flex justify-content-between align-items-center mt-1">
          <div class="card-tags">
            <% product.tags.each do |tag| %>
              <span><i class="<%= tag %>"></i></span>
            <% end %>
          </div>
          <div>
            <% link_to product.url, class: 'external-link', target: '_blank' do %>
              <i class="fas fa-external-link-alt"></i>
            <% end %>
            <% link_to product.github, class: 'external-link', target: '_blank' do %>
              <i class="fab fa-github"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
