<div class="pinky my-4 p-2">
  <div class='about-h2' id="tools">
    <h2 class = "moving"><%= t("tools_h2") %></h2>
  </div>
  <div class="d-flex justify-content-around">
    <div class="flipcard">
      <div class="card__inner">
        <div class="card__face card__face--front">
          <h2><%= t("skills") %></h2>
        </div>
        <span class="flip-icon"><i class="fas fa-sync-alt"></i></span>
        <div class="card__face card__face--back">
          <div class="card__content">
            <div class="card__body">
              <h3>Ruby</h3>
              <h3>HTML</h3>
              <h3>CSS</h3>
              <h3>JavaScript</h3>
              <h3>SQL</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flipcard">
      <div class="card__inner">
        <div class="card__face card__face--front">
          <h2 ><%= t("tools") %></h2>
        </div>
        <span class="flip-icon"><i class="fas fa-sync-alt"></i></span>
        <div class="card__face card__face--back">
          <div class="card__content">
            <div class="card__body">
              <h3>Ruby on Rails</h3>
              <h3>Bootstrap</h3>
              <h3>PostgreSQL</h3>
              <h3>Git</h3>
              <h3>Heroku</h3>
              <h3>Stimulus</h3>
              <h3>React</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flipcard">
      <div class="card__inner">
        <div class="card__face card__face--front">
          <h2><%= t("studies") %></h2>
        </div>
        <span class="flip-icon"><i class="fas fa-sync-alt"></i></span>
        <div class="card__face card__face--back">
          <div class="card__content">
            <div class="card__body">
              <%= link_to "JavaScript30", "https://javascript30.com/", target: '_blank' %>
              <%= link_to "Rspec", "https://gorails.com/", target: '_blank' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
