  <!-- Banner Section -->
<%= partial '../partials/banner' %>
<div class="container">
  <!-- About Section -->
  <%= partial '../partials/about-me' %>
  <!-- Projects Section -->

<!-- Projects Volunteeting -->
  <div class="color-gradient my-4 p-2" id="volunteering" data-aos='fade-left' data-aos-easing="ease-out-cubic" data-aos-duration="1500">
    <div class="row">
      <div class="col-12">
        <div class="main-container" style="margin-bottom: 0;background-color: transparent;padding-bottom: 0">
          <h2 class='project-h2'><span class="name-gradient-right-to-left"><%= t("volunteering") %></span></h2>
        </div>
        <div class="" style="padding-top: 4px;">
            <%= partial 'partials/fr_extra.html.erb' %>
        </div>
      </div>
    </div>
  </div>

 <!-- Projects POST LEWAGON -->
  <div class="pinky my-4 p-2" data-aos='fade-left' data-aos-easing="ease-out-cubic" data-aos-duration="1500">
    <div class="main-container" id="projects" style="margin-bottom: 0;background-color: transparent;padding-bottom: 0">
       <h2 class='project-h2'><span class="name-gradient-left-to-right"><%= t("post_lewagon_projects_title") %></span></h2>
      <p class='project-p'><%= t("projects_p") %></p>
    </div>
    <div class="" style="padding-top: 4px;">
        <%= partial 'partials/fr_post_le_wagon_projects.html.erb' %>
    </div>
  </div>

    <!-- Projects DURING LeWAGON -->
  <div class="color-gradient my-4 p-2" id="projects-le-wagon" data-aos='fade-right' data-aos-easing="ease-out-cubic" data-aos-duration="1500">
    <div class="row">
      <div class="col-12">
        <div class="main-container" style="margin-bottom: 0;background-color: transparent;padding-bottom: 0">
          <h2 class='project-h2'><span class="name-gradient-right-to-left"><%= t("lewagon_projects_title") %></span></h2>
          <p class='project-p'><%= t("projects_lewagon_p") %></p>
        </div>
        <div class="" style="padding-top: 4px;">
            <%= partial 'partials/fr_during_le_wagon_projects.html.erb' %>
        </div>
      </div>
    </div>
  </div>

  <%= partial '../partials/tools' %>
  <%= partial '../partials/contact' %>
</div>
