  <!-- Banner Section -->
<%= partial 'partials/banner' %>
<div class="container">
  <!-- About Section -->
  <%= partial 'partials/about-me' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Video Section -->
  <%= partial 'partials/tools' %>
  <%= partial 'partials/contact' %>
</div>
